In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/gdrive')
folder_path = '/content/gdrive/My Drive/Data 144 Kaggle Challenge/'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
train = pd.read_csv(folder_path+'yelp_train.csv')
test = pd.read_csv(folder_path+'yelp_test.csv')

sample = pd.read_csv(folder_path+'yelp_sample.csv')

In [0]:
train.columns

Index(['review_id', 'business_id', 'user_id', 'date', 'cool', 'funny',
       'useful', 'text', 'user_average_stars', 'user_elite',
       'user_review_count', 'user_yelping_since', 'business_categories',
       'business_city', 'business_latitude', 'business_longitude',
       'business_review_count', 'business_average_stars', 'business_state',
       'is_good_rating'],
      dtype='object')

In [0]:
train.is_good_rating.head()

0    0
1    0
2    1
3    0
4    0
Name: is_good_rating, dtype: int64

In [0]:
train.text.head()

0    Pool tables, darts, and other neighborhood bar...
1    This place was alright. However, their classic...
2    First time at Pieology Pizzeria and I was impr...
3    Its a good facility with lots of equipment and...
4    Very very disappointed! My shawarma chicken wa...
Name: text, dtype: object

In [0]:
train.is_good_rating.value_counts()

1    159858
0     80142
Name: is_good_rating, dtype: int64

In [0]:
train.business_categories

0         Restaurants, Sports Bars, Bars, American (Trad...
1                                Beauty & Spas, Nail Salons
2                                        Pizza, Restaurants
3         Active Life, Fitness & Instruction, Trainers, ...
4                                Mediterranean, Restaurants
5                            Optometrists, Health & Medical
6         Hotels, Resorts, Casinos, Event Planning & Ser...
7         Breakfast & Brunch, Diners, American (New), Re...
8                              Pest Control, Local Services
9         Automotive, Auto Parts & Supplies, Tires, Whee...
10                              Cuban, Restaurants, Mexican
11                          Food, Ice Cream & Frozen Yogurt
12        American (Traditional), Restaurants, Beer Bar,...
13        Bars, Pubs, Food, Cocktail Bars, Nightlife, Ci...
14        Desserts, American (New), Sandwiches, American...
15                                     Mexican, Restaurants
16        American (Traditional), American (New), Restau...
17                                       Karaoke, Nightlife
18                   Barbeque, Korean, Restaurants, Buffets
19        Seafood, Restaurants, American (Traditional), ...
20        Furniture Reupholstery, Sewing & Alterations, ...
21        Plus Size Fashion, Fashion, Formal Wear, Shopp...
22                               Beer, Wine & Spirits, Food
23                                      French, Restaurants
24        Bars, Nightlife, Sports Bars, Pubs, Restaurant...
25        Japanese, American (New), Restaurants, Noodles...
26               Seafood, Restaurants, Italian, Steakhouses
27                                     Mexican, Restaurants
28                                     Italian, Restaurants
29                        Sushi Bars, Restaurants, Japanese
                                ...
239970                             Food Stands, Restaurants
239971    Sandwiches, Breakfast & Brunch, Burgers, Ameri...
239972    Threading Services, Skin Care, Reiki, Waxing, ...
239973                      Restaurants, Burgers, Fast Food
239974                 Restaurants, Portuguese, Food, Cafes
239975      American (New), Restaurants, Breakfast & Brunch
239976                         Vegan, Restaurants, Southern
239977    Event Planning & Services, Arts & Entertainmen...
239978    Seafood, Restaurants, Steakhouses, American (New)
239979    Doctors, Physical Therapy, Sports Medicine, He...
239980    Diners, Restaurants, Breakfast & Brunch, Ameri...
239981         American (Traditional), Restaurants, Seafood
239982    Food, Bubble Tea, Ice Cream & Frozen Yogurt, C...
239983                                Tattoo, Beauty & Spas
239984                    Bakeries, Food, Coffee Roasteries
239985                       Delis, Sandwiches, Restaurants
239986    Local Services, Recycling Center, Home Service...
239987    Windshield Installation & Repair, Oil Change S...
239988                                   Pizza, Restaurants
239989    Caterers, Sandwiches, Restaurants, Food Delive...
239990                         Indian, Buffets, Restaurants
239991    Restaurants, Pizza, Nightlife, Beer, Wine & Sp...
239992                   Barbeque, Restaurants, Steakhouses
239993                                   Restaurants, Cafes
239994                              Vietnamese, Restaurants
239995                           Mediterranean, Restaurants
239996    Sports Bars, Restaurants, American (Traditiona...
239997    Chicken Shop, American (New), Restaurants, Chi...
239998    Caterers, Sandwiches, Restaurants, Food Delive...
239999                          Health & Medical, Hospitals
Name: business_categories, Length: 240000, dtype: object

In [0]:
train.groupby('business_categories').size()

business_categories
3D Printing, Computers, Shopping, Printing Services, Local Services, Electronics                                                                                          1
3D Printing, Printing Services, Local Services                                                                                                                            1
ATV Rentals/Tours, Bike Rentals, Bikes, Active Life, Hotels & Travel, Parks, Sporting Goods, Tours, Shopping, Recreation Centers                                          1
ATV Rentals/Tours, Tours, Active Life, Hotels & Travel                                                                                                                    1
Acai Bowls, Ice Cream & Frozen Yogurt, Juice Bars & Smoothies, Gluten-Free, Food, Restaurants                                                                             2
Acai Bowls, Juice Bars & Smoothies, Ice Cream & Frozen Yogurt, Food                                                                                                       1
Acai Bowls, Macarons, Specialty Food, Shaved Ice, Ice Cream & Frozen Yogurt, Juice Bars & Smoothies, Food, Desserts                                                      10
Acai Bowls, Poke, Juice Bars & Smoothies, Gluten-Free, Food, Vegan, Restaurants                                                                                           5
Accessories, Arts & Crafts, Fashion, Art Supplies, Shopping, Jewelry, Knitting Supplies                                                                                   2
Accessories, Children's Clothing, Shoe Stores, Fashion, Shopping                                                                                                          1
Accessories, Children's Clothing, Shopping, Women's Clothing, Department Stores, Fashion, Men's Clothing                                                                  2
Accessories, Department Stores, Shopping, Fashion, Women's Clothing, Men's Clothing                                                                                       1
Accessories, Discount Store, Fashion, Shopping                                                                                                                            2
Accessories, Fashion, Jewelry, Shopping, Shoe Stores                                                                                                                      1
Accessories, Fashion, Leather Goods, Shopping                                                                                                                             1
Accessories, Fashion, Men's Clothing, Women's Clothing, Department Stores, Shopping                                                                                       3
Accessories, Fashion, Shoe Stores, Women's Clothing, Shopping                                                                                                             1
Accessories, Fashion, Shopping                                                                                                                                            6
Accessories, Fashion, Shopping, Bridal                                                                                                                                    1
Accessories, Fashion, Shopping, Jewelry                                                                                                                                   1
Accessories, Fashion, Shopping, Men's Clothing, Women's Clothing                                                                                                          2
Accessories, Fashion, Shopping, Outlet Stores                                                                                                                             1
Accessories, Fashion, Shopping, Personal Shopping, Horse Equipment Shops                                                                                                  1
Accessories, Fashion, Shopping, Shoe Stores                                                                                                                               1
Accessories, Fashion, Shopping, Women's Clothing                                                                                                                          5
Accessories, Fashion, Shopping, Women's Clothing, Men's Clothing, Department Stores                                                                                       3
Accessories, Fashion, Thrift Stores, Shopping                                                                                                                             2
Accessories, Fashion, Women's Clothing, Shopping                                                                                                                          4
Accessories, Flea Markets, Watches, Shopping, Fashion, Piercing, Local Services, Jewelry Repair, Beauty & Spas, Jewelry                                                   1
Accessories, Formal Wear, Shoe Stores, Men's Clothing, Fashion, Bridal, Shopping                                                                                          1
                                                                                                                                                                         ..
Yoga, Fitness & Instruction, Weight Loss Centers, Dance Studios, Health & Medical, Active Life                                                                            2
Yoga, Gyms, Active Life, Boxing, Dance Studios, Fitness & Instruction                                                                                                     2
Yoga, Gyms, Fitness & Instruction, Trainers, Active Life                                                                                                                  2
Yoga, Gyms, Sports Clubs, Trainers, Active Life, Fitness & Instruction                                                                                                    3
Yoga, Health & Medical, Active Life, Fitness & Instruction, Physical Therapy, Trainers                                                                                    1
Yoga, Health & Medical, Acupuncture, Fitness & Instruction, Chiropractors, Massage Therapy, Active Life, Massage, Beauty & Spas                                           1
Yoga, Health & Medical, Obstetricians & Gynecologists, Fitness & Instruction, Active Life, Doctors                                                                        1
Yoga, Lakes, Paddleboarding, Fitness & Instruction, Active Life, Rafting/Kayaking                                                                                         4
Yoga, Meditation Centers, Fitness & Instruction, Active Life                                                                                                              2
Yoga, Shopping, Fashion, Active Life, Sports Wear, Fitness & Instruction, Sporting Goods, Gyms                                                                            2
Yoga, Skin Care, Nutritionists, Health & Medical, Active Life, Fitness & Instruction, Massage Therapy, Aerial Fitness, Beauty & Spas                                      3
Yoga, Specialty Schools, Education, Surf Schools, Active Life, Sports Clubs, Fitness & Instruction, Boating, Beaches                                                      1
Yoga, Specialty Schools, Fitness & Instruction, Active Life, Education                                                                                                    3
Yoga, Specialty Schools, Fitness & Instruction, Education, Active Life                                                                                                    1
Yoga, Sports Clubs, Active Life, Gyms, Trainers, Fitness & Instruction                                                                                                    1
Yoga, Sports Clubs, Fitness & Instruction, Active Life, Trainers, Gyms                                                                                                    1
Yoga, Sports Clubs, Fitness & Instruction, Trainers, Active Life, Gyms                                                                                                    1
Yoga, Tai Chi, Education, Fitness & Instruction, Active Life, Adult Education                                                                                             1
Yoga, Traditional Chinese Medicine, Massage, Tai Chi, Trainers, Weight Loss Centers, Active Life, Acupuncture, Fitness & Instruction, Health & Medical, Beauty & Spas     2
Yoga, Trainers, Active Life, Fitness & Instruction, Gyms, Sports Clubs                                                                                                    1
Yoga, Trainers, Gyms, Active Life, Fitness & Instruction                                                                                                                  1
Yoga, Trainers, Sports Clubs, Fitness & Instruction, Active Life, Gyms                                                                                                    5
Ziplining, Active Life, Amusement Parks                                                                                                                                   8
Ziplining, Active Life, Kids Activities, Challenge Courses, Party & Event Planning, Event Planning & Services, Parks                                                      2
Zoos, Active Life                                                                                                                                                        30
Zoos, Active Life, Local Flavor                                                                                                                                           4
Zoos, Event Planning & Services, Food, Active Life, Hotels & Travel, Hotels, Beer, Wine & Spirits                                                                         4
Zoos, Leisure Centers, Active Life, Recreation Centers                                                                                                                    1
Zoos, Local Flavor, Active Life                                                                                                                                           5
Zoos, Parks, Active Life                                                                                                                                                  2
Length: 39818, dtype: int64

In [0]:
train['bizcategory1'] = train.business_categories.apply(lambda x: x.split(', ')[0] if type(x)==str else '---')
train['bizcategory2'] = ['---' if type(i)!=str else '---' if len(i.split(', '))==1 else i.split(', ')[1] for i in train.business_categories]
train['top2categories'] = train['bizcategory1'].str.cat(train['bizcategory2'], sep=' ')
top_categories = train.top2categories.value_counts()
top_categories = [k for k,v in top_categories.iteritems() if v > 100]

In [0]:
len(train.top2categories.unique())

11028

In [0]:
len(train.bizcategory1.unique())

1008

In [0]:
len(train.bizcategory2.unique())

1016

In [0]:
print(top_categories)

['Mexican Restaurants', 'Restaurants Mexican', 'Italian Restaurants', 'American (New) Restaurants', 'Pizza Restaurants', 'Restaurants Pizza', 'Restaurants Italian', 'Chinese Restaurants', 'Restaurants Chinese', 'Restaurants American (New)', 'Restaurants American (Traditional)', 'Breakfast & Brunch Restaurants', 'Restaurants Breakfast & Brunch', 'American (Traditional) Restaurants', 'Bars Nightlife', 'Nightlife Bars', 'Restaurants Burgers', 'Coffee & Tea Food', 'Food Coffee & Tea', 'Restaurants Food', 'Japanese Restaurants', 'Restaurants Japanese', 'Restaurants Bars', 'Restaurants Nightlife', 'Restaurants Sandwiches', 'Restaurants Thai', 'Sandwiches Restaurants', 'Restaurants Sushi Bars', 'Burgers Restaurants', 'Steakhouses Restaurants', 'Sushi Bars Restaurants', 'Food Restaurants', 'Restaurants Steakhouses', 'Nail Salons Beauty & Spas', 'Thai Restaurants', 'Beauty & Spas Nail Salons', 'Restaurants Seafood', 'Bars Restaurants', 'Restaurants Vietnamese', 'Nightlife Restaurants', 'Hotels Event Planning & Services', 'Seafood Restaurants', 'Restaurants Fast Food', 'Buffets Restaurants', 'Fast Food Restaurants', 'Food Ice Cream & Frozen Yogurt', 'Ice Cream & Frozen Yogurt Food', 'Beauty & Spas Hair Salons', 'Vietnamese Restaurants', 'Sushi Bars Japanese', 'Arts & Entertainment Performing Arts', 'Asian Fusion Restaurants', 'Restaurants Barbeque', 'Beer Wine & Spirits', 'Food Bakeries', 'Hair Salons Beauty & Spas', 'Bakeries Food', 'Japanese Sushi Bars', 'Automotive Auto Repair', 'Restaurants Indian', 'Barbeque Restaurants', 'Mediterranean Restaurants', 'Indian Restaurants', 'American (Traditional) Burgers', 'Restaurants Asian Fusion', 'Auto Repair Automotive', 'Salad Restaurants', 'Restaurants Diners', 'Pizza Italian', 'Food Desserts', 'Korean Restaurants', 'Restaurants Korean', 'Performing Arts Arts & Entertainment', 'Restaurants Mediterranean', 'Restaurants Salad', 'Restaurants Cafes', 'Event Planning & Services Hotels & Travel', 'Hotels & Travel Event Planning & Services', 'American (Traditional) Breakfast & Brunch', 'Hotels Hotels & Travel', 'Hotels & Travel Airports', 'Bars American (Traditional)', 'American (New) Bars', 'French Restaurants', 'Cafes Restaurants', 'Hotels & Travel Hotels', 'Event Planning & Services Arts & Entertainment', 'Food Grocery', 'Italian Pizza', 'Arts & Entertainment Cinema', 'Desserts Food', 'Grocery Food', 'Vegetarian Restaurants', 'Restaurants Buffets', 'Automotive Car Dealers', 'Car Rental Hotels & Travel', 'Event Planning & Services Hotels', 'Hotels Casinos', 'Chicken Wings Restaurants', 'Breakfast & Brunch American (New)', 'Nightlife Dance Clubs', 'Restaurants French', 'Diners Restaurants', 'French Steakhouses', 'Hotels & Travel Car Rental', 'Restaurants Greek', 'Casinos Hotels', 'Fashion Shopping', 'Car Dealers Automotive', 'Sandwiches Buffets', 'Doctors Health & Medical', 'Beauty & Spas Barbers', 'Buffets Breakfast & Brunch', 'American (Traditional) Bars', 'Barbers Beauty & Spas', 'Veterinarians Pets', 'Specialty Food Food', 'Cinema Arts & Entertainment', 'Food Breakfast & Brunch', 'Food Beer', 'Breakfast & Brunch Food', 'Day Spas Beauty & Spas', 'Bars Lounges', 'Sandwiches Pizza', 'Coffee & Tea Restaurants', 'Health & Medical Doctors', 'Noodles Restaurants', 'Hotels Arts & Entertainment', 'Restaurants Coffee & Tea', 'Event Planning & Services Venues & Event Spaces', 'Restaurants Noodles', 'Restaurants Gastropubs', 'American (New) American (Traditional)', 'Caterers Sandwiches', 'Arts & Entertainment Event Planning & Services', 'Greek Restaurants', 'Food Specialty Food', 'Nightlife American (New)', 'Restaurants Chicken Wings', 'Automotive Oil Change Stations', 'Restaurants Middle Eastern', 'Pets Veterinarians', 'Shopping Fashion', 'American (New) Nightlife', 'Restaurants Canadian (New)', 'Restaurants Arts & Entertainment', 'Asian Fusion Japanese', 'Burgers American (Traditional)', 'Restaurants Delis', 'Bars Pubs', 'Real Estate Home Services', 'Restaurants Desserts', 'Home Services Real Estate', 'American (Traditional) Nightlife', 'Auto Repair Car Dealers', 'Bakeries Restaurants', 'Bars Sports Bars', 'Food Juice Bars & Smoothies', 'Casinos Arts & Entertainment', 'American (New) Breakfast & Brunch', 'Skin Care Beauty & Spas', 'Restaurants Vegetarian', 'Restaurants Wine Bars', 'Breakfast & Brunch American (Traditional)', 'Arts & Entertainment Hotels', 'Asian Fusion Chinese', 'Desserts Restaurants', 'Burgers Fast Food', 'Heating & Air Conditioning/HVAC Home Services', 'Shopping Centers Shopping', 'Pubs Bars', 'Middle Eastern Restaurants', 'American (Traditional) Seafood', 'Fast Food Burgers', 'Beauty & Spas Day Spas', 'Restaurants Caribbean', 'Nightlife American (Traditional)', 'American (New) Sandwiches', 'Juice Bars & Smoothies Food', 'Canadian (New) Restaurants', 'Gastropubs Restaurants', 'Caterers Event Planning & Services', 'Event Planning & Services Caterers', 'Casinos Event Planning & Services', 'Cafes Food', 'Automotive Auto Parts & Supplies', 'Automotive Car Wash', 'Latin American Restaurants', 'Beauty & Spas Hair Removal', 'Cajun/Creole Restaurants', 'Restaurants Latin American', 'Hotels & Travel Arts & Entertainment', 'Delis Restaurants', 'Parks Active Life', 'Donuts Food', 'Music Venues Nightlife', 'Bars Food', 'Car Wash Automotive', 'Food Sandwiches', 'Breakfast & Brunch Diners', 'Nightlife Pubs', 'New Mexican Cuisine Mexican', 'Food American (New)', 'Burgers American (New)', 'Nightlife Food', 'Hawaiian Restaurants', 'Bars Arts & Entertainment', 'Restaurants Hot Dogs', 'Shopping Home & Garden', 'Landmarks & Historical Buildings Public Services & Government', 'Breakfast & Brunch Venues & Event Spaces', 'Dentists Health & Medical', 'Nightlife Sports Bars', 'Car Dealers Thai', 'Home Services Heating & Air Conditioning/HVAC', 'Massage Beauty & Spas', 'Diners Breakfast & Brunch', 'Home Services Apartments', 'Bars American (New)', 'Active Life Fitness & Instruction', 'Books Mags', 'Museums Arts & Entertainment', 'Beauty & Spas Massage', 'Cocktail Bars Bars', 'Auto Parts & Supplies Automotive', 'Venues & Event Spaces Event Planning & Services', 'American (Traditional) American (New)', 'Pubs Nightlife', 'Vegan Vegetarian', 'Restaurants Vegan', 'Sports Bars Bars', 'Dance Clubs Nightlife', 'Resorts Hotels & Travel', 'Food Breweries', 'Home Services Movers', 'Fitness & Instruction Active Life', 'Social Clubs Arts & Entertainment', 'American (New) Burgers', 'Food Donuts', 'Restaurants Soul Food', 'Local Services Pest Control', 'Nightlife Adult Entertainment', 'Sports Bars Nightlife', 'Coffee & Tea Cafes', 'Arts & Entertainment Casinos', 'Barbeque Korean', 'Restaurants Event Planning & Services', 'Home & Garden Shopping', 'Apartments Home Services', 'Lounges Bars', 'Event Planning & Services Restaurants', 'Restaurants Soup', 'Restaurants Cocktail Bars', 'Hair Removal Beauty & Spas', 'Restaurants Gluten-Free', 'Lounges Nightlife', 'Breakfast & Brunch Coffee & Tea', 'Nightlife Wine Bars', 'Chinese Dim Sum', 'Active Life Parks', 'Apartments Real Estate', 'Mediterranean Greek', 'Food Cafes', 'Bars Mexican', 'Hotels & Travel Transportation', 'Bars Wine Bars', 'Restaurants Hawaiian', 'Mexican Fast Food', 'Beauty & Spas Skin Care', 'Pest Control Local Services', 'Restaurants Bakeries', 'Pet Services Pets', 'Sports Bars Restaurants', 'Vegan Restaurants', 'Hot Dogs Restaurants', 'Burgers Nightlife', 'Soup Restaurants', 'Fast Food Mexican', 'Restaurants Sports Bars', 'Vietnamese Chinese', 'Sandwiches Italian', 'Mexican Tacos', 'Restaurants Tex-Mex', 'Bars Breakfast & Brunch', 'Shopping Shopping Centers', 'Cocktail Bars Nightlife', 'Sandwiches Breakfast & Brunch', 'Sandwiches American (New)', 'Nightlife Mexican', 'Mediterranean Middle Eastern', 'Bars Cocktail Bars', 'Italian Nightlife', 'Steakhouses Nightlife', 'Sandwiches Delis', 'Food Ethnic Food', 'Bars Seafood', 'Sandwiches Salad', 'Restaurants Tapas/Small Plates', 'Health & Medical Dentists', 'Home Services Plumbing', 'Pets Pet Services', 'Restaurants Southern', 'Car Dealers Auto Repair', 'Sandwiches Food', 'American (New) Food', 'Transportation Hotels & Travel', 'Real Estate Apartments', 'Automotive Tires', 'Beauty & Spas Tattoo', '--- ---', 'Tattoo Beauty & Spas', 'Arts & Entertainment Museums', 'Beauty & Spas Eyelash Service', 'Hotels & Travel Casinos', 'Soul Food Restaurants', 'Southern Restaurants', 'Tex-Mex Restaurants', 'Steakhouses American (Traditional)', 'Steakhouses Seafood', 'Financial Services Banks & Credit Unions', 'Contractors Home Services', 'Breweries Food', 'Breakfast & Brunch Sandwiches', 'Auto Repair Oil Change Stations', 'Tires Automotive', 'Plumbing Home Services', 'Movers Home Services', 'Comfort Food Restaurants', 'Waxing Hair Removal', 'Chiropractors Health & Medical', 'Pizza Food', 'Wine Bars Bars', 'Desserts American (New)', 'Tex-Mex Mexican', 'Seafood Bars', 'Beauty & Spas Hotels', 'Pets Pet Stores', 'American (Traditional) Buffets', 'Cafes Breakfast & Brunch', 'Pet Stores Pets', 'Breakfast & Brunch Southern', 'Nightlife Cocktail Bars', 'Gyms Fitness & Instruction', 'Sandwiches American (Traditional)', 'Food Nightlife', 'Restaurants Cajun/Creole', 'Seafood American (New)', 'Caterers Restaurants', 'Jewelry Shopping', 'Beauty & Spas Waxing', 'Bars Barbeque', 'Food American (Traditional)', 'Nightlife Lounges', 'Middle Eastern Mediterranean', 'Specialty Food Sandwiches', 'Shopping Drugstores', 'Music Venues Arts & Entertainment', 'Restaurants Comfort Food', 'Bakeries Desserts', 'General Dentistry Health & Medical', 'Desserts Ice Cream & Frozen Yogurt', 'Mexican Nightlife', 'Caribbean Restaurants', 'Food Cocktail Bars', 'Indian Buffets', 'Tea Rooms Food', 'Stadiums & Arenas Arts & Entertainment', 'Department Stores Shopping', 'Dim Sum Chinese', 'Oil Change Stations Automotive', 'Tires Auto Repair', 'Restaurants Pubs', 'Shopping Jewelry', 'Gyms Active Life', 'Pet Groomers Pet Services', 'Pet Groomers Pets', 'Vegetarian Nightlife', 'Drugstores Shopping', 'Restaurants Ramen', 'Vegan Pizza', 'Delis Sandwiches', 'Vegetarian Vegan', 'Casinos Hotels & Travel', 'Restaurants Creperies', 'Department Stores Fashion', 'Cocktail Bars Restaurants', 'Arts & Entertainment Nightlife', 'Gluten-Free Restaurants', 'Greek Mediterranean', 'Beauty & Spas Shopping', 'Health & Medical Medical Centers', 'Hair Salons Nail Salons', 'Waxing Beauty & Spas', 'Steakhouses American (New)', 'Tanning Beauty & Spas', 'Filipino Restaurants', "Women's Clothing Shopping", 'Nail Salons Day Spas', 'Banks & Credit Unions Financial Services']

In [0]:
print(len(top_categories))

399

In [0]:
# print(train.business_latitude.str.cat(train.business_longitude, sep=' '))
train.business_latitude.head()

0    33.336050
1    35.058040
2    36.114884
3    36.025332
4    36.005901
Name: business_latitude, dtype: float64

In [0]:
train.business_longitude.head()

0   -111.844343
1    -80.937064
2   -115.155604
3   -115.120852
4   -115.111863
Name: business_longitude, dtype: float64

In [0]:
# looked up the midpoint of the united states
middle_lat = 39.8333333
middle_lon = -98.585522

# compare with longitude latitude of the business to classify as northwest, northeast, southwest, southeast
def find_region(business_lat, business_lon):
  if np.isnan(business_lat) or np.isnan(business_lon):
    return np.nan
  if business_lat > middle_lat:
    if business_lon > middle_lon:
      return "North East"
    return "North West"
  if business_lon > middle_lon:
    return "South East"
  return "South West"
business_region = [find_region(x,y) for x,y in zip(train.business_latitude.values, train.business_longitude.values)]

In [0]:
business_region[:10]

['South West',
 'South East',
 'South West',
 'South West',
 'South West',
 'South West',
 'South West',
 'North East',
 'South West',
 'South West']

In [0]:
train.business_state[:10]

0    AZ
1    SC
2    NV
3    NV
4    NV
5    AZ
6    NV
7    ON
8    NV
9    AZ
Name: business_state, dtype: object

In [0]:
train.business_state.value_counts()

NV     83236
AZ     75484
ON     27832
NC     14146
OH     12288
PA     10034
QC      6148
WI      4968
EDH     2255
IL      1419
BW      1361
SC       450
HLD       99
MLN       98
CHE       34
NYK       33
FL        28
FIF       19
ESX       12
WLN       12
ELN        7
C          7
NY         6
GLG        4
NI         3
XGL        3
01         2
AR         2
ABE        2
AK         2
CA         1
FAL        1
TAM        1
B          1
IN         1
KHL        1
Name: business_state, dtype: int64

In [0]:
# state codes are not unified, also this data seems to be coming from a bunch of different places, not just the united states

In [0]:
train.business_city[:10]

0           Chandler
1          Fort Mill
2          Las Vegas
3          Las Vegas
4          Henderson
5           Chandler
6          Las Vegas
7            Toronto
8    North Las Vegas
9           Chandler
Name: business_city, dtype: object

In [0]:
# judging from the Toronto, ON entry, there are canadian businesses in this data???
train['business_region'] = business_region

In [0]:
train.groupby(['business_region', 'is_good_rating']).size()

business_region  is_good_rating
North East       0                  23739
                 1                  42871
North West       1                      1
South East       0                   4978
                 1                   9685
South West       0                  51424
                 1                 107300
dtype: int64

In [0]:
# clearly some of the regions are incorrect, AZ should not be in the north west
train[train.business_region=='North West']

                     review_id  ... business_total_stars
182361  sbYPqcFihGOpZYZdfjLMng  ...                 70.0

[1 rows x 30 columns]

In [0]:
# this probably indicates that we should not use business_region or business_state as a feature
# might need to think of other features that are more consistent or informative

In [0]:
train['business_total_stars'] = train.business_review_count * train.business_average_stars

In [0]:
user_stats = ['user_average_stars', 'user_elite', 'user_review_count', 'user_yelping_since']
print(train.user_elite.head())

0          None
1          None
2          None
3    2013, 2012
4          None
Name: user_elite, dtype: object

In [0]:
elite_count = train.user_elite.apply(lambda x: 0 if x=='None' else len(x.split(', ')))
elite_count.head()

0    0
1    0
2    0
3    2
4    0
Name: user_elite, dtype: int64

In [0]:
elite_count.max()

12

In [0]:
train.user_yelping_since.head()

0    2013-10-23
1    2016-07-04
2    2013-09-05
3    2010-09-03
4    2016-03-24
Name: user_yelping_since, dtype: object

In [0]:
user_yelping_since = pd.to_datetime(train.user_yelping_since)
user_yelping_since.head()

0   2013-10-23
1   2016-07-04
2   2013-09-05
3   2010-09-03
4   2016-03-24
Name: user_yelping_since, dtype: datetime64[ns]

In [0]:
train.user_review_count.head()

0     5
1     7
2    21
3    83
4    28
Name: user_review_count, dtype: int64

In [0]:
# some reviewers have not been "active" -- very few reviews since they started yelping, whereas others have been active or elite
user_days_on_yelp = (pd.datetime.now()-user_yelping_since).dt.days
user_days_on_yelp.head()

0    2170
1    1185
2    2218
3    3316
4    1287
Name: user_yelping_since, dtype: int64

In [0]:
user_reviews_per_day = train.user_review_count / user_days_on_yelp
user_reviews_per_day.head()

0    0.002304
1    0.005907
2    0.009468
3    0.025030
4    0.021756
dtype: float64

In [0]:
train['user_days_on_yelp'] = user_days_on_yelp
train['user_yelping_since'] = user_yelping_since
train['user_reviews_per_day'] = user_reviews_per_day
train['user_times_elite'] = elite_count
train.head()

                review_id  ... user_times_elite
0  9uu-JXdQuQ3rXOd1Vxv8kA  ...                0
1  UbCgugoTK2MfBmtU_8PXaQ  ...                0
2  6oF9_NR1O5Y_NOE6INXfrg  ...                0
3  kyYWrcrr83GnJ7m_VEvwCA  ...                2
4  K2X3XG9_M3EM0TWguo2bCw  ...                0

[5 rows x 27 columns]

In [0]:
train.date = pd.to_datetime(train.date)
train.date.head()

0   2017-06-27
1   2017-03-25
2   2017-07-14
3   2010-12-13
4   2016-09-12
Name: date, dtype: datetime64[ns]

In [0]:
authored_by_elite_user = [1 if x in y else 0 for x,y in zip(train.date.dt.strftime('%Y'),train.user_elite)]
authored_by_elite_user = pd.Series(authored_by_elite_user)
authored_by_elite_user.value_counts()

0    194072
1     45928
dtype: int64

In [0]:
train['authored_by_elite_user'] = authored_by_elite_user

In [0]:
train.user_average_stars.head()

0    2.00
1    4.43
2    4.09
3    3.55
4    3.75
Name: user_average_stars, dtype: float64

In [0]:
train.user_average_stars.describe()

count    240000.000000
mean          3.750624
std           0.794099
min           1.000000
25%           3.420000
50%           3.820000
75%           4.200000
max           5.000000
Name: user_average_stars, dtype: float64

In [0]:
user_likely_critical = train.user_average_stars-train.business_average_stars
user_likely_critical.head()

0   -2.00
1    0.93
2    0.09
3    0.55
4    0.25
dtype: float64

In [0]:
train['user_likely_critical'] = user_likely_critical
train.rename({'user_likely_critical': 'user_business_avg_star_difference'}, axis=1, inplace=True)
train.head()

                review_id  ... user_business_avg_star_difference
0  9uu-JXdQuQ3rXOd1Vxv8kA  ...                             -2.00
1  UbCgugoTK2MfBmtU_8PXaQ  ...                              0.93
2  6oF9_NR1O5Y_NOE6INXfrg  ...                              0.09
3  kyYWrcrr83GnJ7m_VEvwCA  ...                              0.55
4  K2X3XG9_M3EM0TWguo2bCw  ...                              0.25

[5 rows x 29 columns]

In [0]:
# eda on review type
print(train[train.is_good_rating==1][['cool','funny','useful']].describe())
print('good reviews ^^ ')
print(train[train.is_good_rating==0][['cool','funny','useful']].describe())
print('bad reviews ^^')

                cool          funny         useful
count  159858.000000  159858.000000  159858.000000
mean        0.613132       0.382258       1.134976
std         2.897990       2.624454       3.363687
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000
75%         1.000000       0.000000       1.000000
max       234.000000     589.000000     246.000000
good reviews ^^
               cool         funny        useful
count  80142.000000  80142.000000  80142.000000
mean       0.407377      0.624379      1.724165
std        3.023209      3.473608      8.507285
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      1.000000
75%        0.000000      1.000000      2.000000
max      245.000000    447.000000   1456.000000
bad reviews ^^

In [0]:
# seems like useful reviews tend to be strong indicators of a bad/negative rating
# cool reviews tend to be slightly indicative of a good rating 
# funny reviews don't tend to inform the decision (at least according to this training set)

In [0]:
train.head()

                review_id  ... business_total_stars
0  9uu-JXdQuQ3rXOd1Vxv8kA  ...                632.0
1  UbCgugoTK2MfBmtU_8PXaQ  ...                 91.0
2  6oF9_NR1O5Y_NOE6INXfrg  ...                756.0
3  kyYWrcrr83GnJ7m_VEvwCA  ...                948.0
4  K2X3XG9_M3EM0TWguo2bCw  ...                213.5

[5 rows x 30 columns]

In [0]:
good_reviews = train[train.is_good_rating==1]
bad_reviews = train[train.is_good_rating==0]

In [0]:
good_reviews.describe()

                cool  ...  business_total_stars
count  159858.000000  ...         159858.000000
mean        0.613132  ...           1402.061029
std         2.897990  ...           2882.916704
min         0.000000  ...              6.000000
25%         0.000000  ...            136.000000
50%         0.000000  ...            452.000000
75%         1.000000  ...           1352.000000
max       234.000000  ...          29444.000000

[8 rows x 16 columns]

In [0]:
bad_reviews.describe()

               cool  ...  business_total_stars
count  80142.000000  ...          80142.000000
mean       0.407377  ...           1175.240885
std        3.023209  ...           2642.907697
min        0.000000  ...              3.000000
25%        0.000000  ...             90.000000
50%        0.000000  ...            315.000000
75%        0.000000  ...           1012.000000
max      245.000000  ...          29444.000000

[8 rows x 16 columns]

In [0]:
# overall observations:

# - there are over 11000 unique values in top2categories 
# - bizcategory1 and bizcategory2 values are informative, but also have ~1000 unique values each
# - business_region, business_state are too noisy to use

# good and bad reviews don't really differ much based on: 
# - time on yelp or reviews per day
# - number of times author was elite



# good and bad reviews are different in that:
# - good reviews tend to come from elite users (in the years the users are elite)
# - bad reviews tend to have a negative user to business star difference (users visit restaurants that have a higher rating than what the users themselves typically give)
# - useful >>> negative, cool > positive, funny > negative
# - users giving negative reviews tend to have lower user_average_stars (typically more critical)

In [0]:
# trying it out with no text features, just user/business/voting features
def featurize_no_text(df):
  df['authored_by_elite_user'] = [1 if x in y else 0 for x,y in zip(pd.to_datetime(df.date).dt.strftime('%Y'), df.user_elite)]
  df['user_business_avg_star_difference'] = df.user_average_stars-df.business_average_stars
  return df[['authored_by_elite_user', 'useful', 'cool', 'funny', 'user_average_stars', 'user_business_avg_star_difference', 'business_average_stars']]

train_data = pd.read_csv(folder_path+'yelp_train.csv')
no_text_train = featurize_no_text(train_data)
no_text_train_y = train_data['is_good_rating']
no_text_test = featurize_no_text(pd.read_csv(folder_path+'yelp_test.csv'))

In [0]:
sample.head()

                review_id  is_good_rating
0  SiQGQ__poSeG1oKHVem30g               1
1  rFZPxXnZZuEfO5Cj8SprGw               1
2  DU9CeH0kUfN8LO7V02fxaA               1
3  dJgLik5M3vvHYHDkIW62qA               1
4  fi9Pbb8Z4bzzlHaxXGEJTg               1

In [0]:
test.head()

                review_id  ... business_state
0  SiQGQ__poSeG1oKHVem30g  ...             OH
1  rFZPxXnZZuEfO5Cj8SprGw  ...             AZ
2  DU9CeH0kUfN8LO7V02fxaA  ...             PA
3  dJgLik5M3vvHYHDkIW62qA  ...             NV
4  fi9Pbb8Z4bzzlHaxXGEJTg  ...             NC

[5 rows x 19 columns]

In [0]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(activation='logistic', solver='adam', learning_rate='adaptive', alpha=1e-4, hidden_layer_sizes=(100, 100), random_state=42) 
X = no_text_train
y = no_text_train_y
clf.fit(X, y)
predictions = clf.predict(no_text_test)
accuracy = np.mean(predictions==sample['is_good_rating'])
print(accuracy)

0.7593666666666666

In [0]:
predictions

array([0, 0, 0, ..., 0, 0, 0])

In [0]:
X.head()

   authored_by_elite_user  ...  business_average_stars
0                       0  ...                     4.0
1                       0  ...                     3.5
2                       0  ...                     4.0
3                       0  ...                     3.0
4                       0  ...                     3.5

[5 rows x 7 columns]

In [0]:
y.head()

0    0
1    0
2    1
3    0
4    0
Name: is_good_rating, dtype: int64

In [0]:
preds = pd.read_csv(folder_path+'yelp_sample.csv')
print(preds.head())
preds.is_good_rating = predictions
preds.set_index('review_id', inplace=True)
print(preds.head())
preds.to_csv('preds.csv')
!cp preds.csv /content/gdrive/My\ Drive/Cal/Data\ 144\ Kaggle\ Challenge

                review_id  is_good_rating
0  SiQGQ__poSeG1oKHVem30g               1
1  rFZPxXnZZuEfO5Cj8SprGw               1
2  DU9CeH0kUfN8LO7V02fxaA               1
3  dJgLik5M3vvHYHDkIW62qA               1
4  fi9Pbb8Z4bzzlHaxXGEJTg               1
                        is_good_rating
review_id
SiQGQ__poSeG1oKHVem30g               1
rFZPxXnZZuEfO5Cj8SprGw               1
DU9CeH0kUfN8LO7V02fxaA               1
dJgLik5M3vvHYHDkIW62qA               1
fi9Pbb8Z4bzzlHaxXGEJTg               1